@page "/addBooking"
@using Models
@using Data
@using Authentication
@inject NavigationManager navigationManager
<h3>AddBooking</h3>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="reservation">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <InputDate type="date" class="form-control" @bind-Value="dateTime" />
                <input type="time" class="form-control oi-timer" @bind-value="dateTime" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => CreateBooking()">Save</button>
                <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>
            </div>
        </EditForm>
    </div>
    <p>@n</p>
</div>
@code {
    private Reservation reservation = new Reservation();
    private DateTime dateTime;
    string n;
    string hour;

    string changeDateToString()
    {
        n = dateTime.ToString("ddMMyyyy");
        return n;
    }
    string changeHourToString()
    {
        hour = dateTime.ToString("HH:mm:ss");
        return hour;
    }
    protected async Task CreateBooking() {
        await ReservationManager.CreateReservation(UserService.GetUser().id, changeDateToString(), changeHourToString());
        navigationManager.NavigateTo("/bookings");
    }
    void cancel() {
        navigationManager.NavigateTo("/bookings");
    }
}
