@page "/bookings"
@using Models
@using Authentication
@using Data
    <a class="btn btn-primary" href='/addBooking'>Add</a>

<div class="card mt-4">
    <h4 class="card-header">Bookings of @user.username with id @user.id</h4>
    <div class="card-body">
       
        @if (loading)
        {
            <div class="spinner-border spinner-border-sm"></div>
        }
        @if (reservations != null)
        {
    <ul>
        
    @foreach (var reservation in reservations)
    {
        <tr>
            <td>@reservation.date</td>
            <td>@reservation.userID</td>
            <td>|
                <a class="btn btn-danger" @onclick="() => DeleteBooking(reservation)">Delete</a>
            </td>
        </tr>
    }
    </ul>
        }
    </div>
</div>
@code {
    private User user;
    private bool loading;
    private List<Reservation> reservations;
    protected override async Task OnInitializedAsync()
    {
        user = UserService.GetUser();
        loading = true;
        reservations = await ReservationManager.GetReservations(user.id);
        loading = false;
    }
    private async Task DeleteBooking(Reservation reservation) {

        await ReservationManager.DeleteReservation(reservation);
        reservations = await ReservationManager.GetReservations(user.id);
    }
}
