@page "/index"
@inject UserService userService
@using Models
@using SEP3_Tier1.Authentication 
<h1>Hello, @user.username !</h1>

Welcome to your new app, you right now have a security level of @user.securityLevel !

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private User user;

    protected override void OnInitialized()
    {
        user = UserService.GetUser();
    }
}